.div1 {
  background-color: gray;
  padding: 20px;
  font-size: 25px;
}
.hoverBold:hover {
  font-weight: bold;
}
.div2 {
  background-color: lightgray;
  padding: 20px;
  font-size: 20px;
}
.div3 {
  background-color: oldlace;
  padding: 20px;
  font-size: 16px;
}
.button {
  font-size: 20px;
  padding: 2px 10px;
  margin: 5px;
}
.colorChange {
  margin-left: 10px;
  margin-top: 2px;
  font-size: 16px;
  padding: 0 10px;
}
label {
  margin-left: 20px;
  margin-top: 10px;
}
